.cover__content{
    background-image: linear-gradient(to right, rgb(0 0 0 / .5), rgb(0 0 0 / .5)), url('../../../images/404.png');
    width: 1184px;
    height: 740px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media screen and (max-width: 768px) {
    .cover__content{
        width: 768px;
        height: 740px;
        
    }
}
@media screen and (max-width: 320px) {
    .cover__content{
        width: 320px;
        height: 254px;
        
    }
}